<h1>RESERVATION</h1>

<% @bookings.each do |booking| %>
  <p>Description de la tâche: <%= booking.prestations.first.description %></p>
  <p>Adresse: <%= booking.location %></p>
  <p>Debut: <%= booking.start_date %></p>
  <p>Fin: <%= booking.end_date %></p>
<% end %>

<div id="calendar">

</div>
