<div class="dropdown">
  <button class="dropbtn fas fa-home"></button>
  <div class="dropdown-content">
    <a href="#">Accueil</a>
    <a href="#">Services</a>
    <a href="#">Contact</a>
    <a href="#">Mon compte</a>
  </div>
</div>

