<div class="dropdown">
  <button class="dropbtn fas fa-home"></button>
  <div class="dropdown-content">
    <%= link_to "Accueil", home_path %>
    <a href="#">Services</a>
    <a href="#">Contact</a>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  </div>
</div>

