<div class="container">
  <div class="row">
    <div class="col-6 col-md-3 col-md-offset-3 edit-delete-icons"">
      <div class="thumbnail" id="dash-card">
        <h3> Bienvenue Perfect Home</h3>
        <h8>N° Siret: 2359768919 </h8>
      </div>
    </div>
  </div>
</div>
<div class="align-card">
<div class="itemBox">
  <div class="itemBoxImage">
    <img src="https://ui-dfa.unimedias.fr/sites/dossier-familial/files/employes-bureauv.jpg" alt="">
  </div>
  <div class="itemBoxContent">
    <a href="#" class="itemCTA"></a>
    <h3 class="itemTitle">Mes salariés</h3>
  </div>
</div>
<div class="itemBox">
  <div class="itemBoxImage">
    <img src="https://odis.homeaway.com/odis/listing/cb0b3e8a-98da-45bc-8807-336936220962.c10.jpg" alt="">
  </div>
  <div class="itemBoxContent">
    <a href="#" class="itemCTA"></a>
    <h3 class="itemTitle">Mes clients</h3>
  </div>
</div>
<div class="itemBox">
  <div class="itemBoxImage">
    <img src="https://goo.gl/Qydba3" alt="">
  </div>
  <div class="itemBoxContent">
    <a href="/bookings" class="itemCTA"></a>
    <h3 class="itemTitle">Mes réservations</h3>
  </div>
</div>
<div class="itemBox">
  <div class="itemBoxImage">
    <img src="https://www.appvizer.fr/media/application/1610/screenshot/3185/bubble-plan-G-rez-vos-projets-en-toute-simplicit--gestion-de-projet-avec-bubble-plan.jpg" alt="">
  </div>
  <div class="itemBoxContent">
    <a href="#" class="itemCTA"></a>
    <h3 class="itemTitle">Mon planning</h3>
  </div>
</div>
</div>
