#dash-card {
  display: inline-bloc;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  border-radius: 5px;
  width: 500px;
  padding: 10px;
  margin-left: 0%;
  margin-top: 5%;
  box-shadow: 1px 1px #2e282a;
  text-align: center;
}

h4{
  color: white;
  font-size: 40px;
  font-family: 'Alegreya', serif;
  text-align: center;
  margin: 10px;
}

h5{
  color: white;
  font-size: 40px;
  font-family: 'Marck Script', cursive;
  font-weight: bold;
  margin-top: 50%;
  align-items: center;
}

a:hover{
  text-decoration: none;
}

